
/* #212529 */

.background{
  height: 100%;

  background-image: "./images/background.jpg";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}















.about {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-direction: row;

}

.child_about {
  flex-direction: column;
  align-items: center;
  flex: 50%;
}


.contact  {
  flex:50%;
  flex-direction: column;
  /* justify-content: space-between; */
  text-align: center;

}

.about_protrait {
  max-height: 100%;
  max-width: 100%;

}

@media screen and (max-width: 600px) {
  div.about {
    flex-direction:column;
  }
  div.about_protrait {
    flex-direction: column;
  }
}
